<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <!-- <i class="fas fa-key fa-6x"></i> -->
    <img class="logo" src="https://img.icons8.com/external-kiranshastry-lineal-kiranshastry/64/000000/external-mailbox-communication-kiranshastry-lineal-kiranshastry.png"/>
    <h1 class="display-3">Drop Your Complaints</h1>

   <% userWithSecrets.forEach(user => { %>

     <%   user.secrets.forEach(allSecret => { %>
      <p class="secret-text"><%= allSecret.secret %></p>
 <%    });  %>

  <% }); %>

    <hr>
    
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
  </div>
</div>

<%- include('partials/footer') %>
