<%- include('partials/header') %>

<div class="container">
  <div class="jumbotron centered">
    <img class="logo" src="https://img.icons8.com/external-kiranshastry-lineal-kiranshastry/64/000000/external-mailbox-communication-kiranshastry-lineal-kiranshastry.png"/>
    <h1 class="display-3">Anonymous Complaint Box</h1>
    <p class="secret-text">Drop your suggestions anonymously!</p>

    <form action="/submit" method="POST">

      <div class="form-group">
        <input type="text" class="form-control text-center" name="secret" placeholder="What's your complaint?">
      </div>
      <button type="submit" class="btn btn-dark">Submit</button>
    </form>


  </div>
</div>
<%- include('partials/footer') %>
